attrs==25.3.0
boto3==1.28.80
botocore==1.31.85
certifi==2025.4.26
cftime==1.6.4.post1
charset-normalizer==3.4.2
click==8.2.1
click-plugins==1.1.1
cligj==0.7.2
fiona==1.10.1
fsspec==2025.5.1
GeoAlchemy2==0.17.1
geopandas==0.12.1
greenlet==3.2.3
h5netcdf==1.6.1
h5py==3.14.0
idna==3.10
jmespath==1.0.1
netCDF4==1.7.2
numpy==1.26.4
packaging==25.0
pandas==2.3.0
psycopg2-binary==2.9.10
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
s3fs==0.4.2
s3transfer==0.7.0
shapely==2.1.1
six==1.17.0
snakeviz==2.2.2
SQLAlchemy==2.0.41
tornado==6.5.1
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.0.7
uv==0.7.12
xarray==2025.4.0
pyyaml
esrijson
pydantic_settings
